{{ tomcat_log_dir }}/catalina.out {
    daily
    dateext
    dateformat {{ logrotate_dateformat }}
    dateyesterday
    rotate {{ retention_days }}
    maxage {{ retention_days }}
    missingok
    ifempty
    compress
    delaycompress
    copytruncate
}
